
@{
    ViewData["Title"] = "Index";
}

<h1>Product Index</h1>

<ul>
    <li><a asp-controller="Product" asp-action="All">View all Products</a></li>
    <li><a asp-controller="Product" asp-action="AllCars">View Cars</a></li>
</ul>
